---
import { projects } from '../data/projects';
import IconPill from '../components/IconPill.astro';
import ArticleContainer from '../components/ArticleContainer.astro';
---
<ArticleContainer title="Proyectos" articleId="projects">
    <ul class="flex flex-col gap-14">
        {projects.map((project) => (
          <li>
            <section class="flex flex-row">
                <div class="flex flex-col">
                  <div class="flex flex-row gap-6">
                  <h3 class="text-2xl">{`${project.title} - ${project.date}`}</h3>
                    <a href={project.url} target="_blank" rel="noreferrer" class="flex gap-4 items-center align-middle">
                      <IconPill>
                       <img src="icons/github.svg" alt="github icon" class="size-5 hover:scale-110"/>
                       <p class="ml-2">Ver en Github</p>
                      </IconPill>
                      </a>
                      {
                        project.production_url &&
                        <a href={project.production_url} target="_blank" rel="noreferrer" class="flex gap-4 items-center align-middle">
                        <IconPill>
                          <img src="icons/link.svg" alt="external link icon" class="size-5 hover:scale-110"/>
                          <p class="ml-2">Ver en producción</p>
                        </IconPill>
                        </a>
                      }
                    </div>
                    <p class="text-lg mt-3">{project.description}</p>
                    <div class="mt-3 flex flex-row flex-wrap gap-3">
                      {project.technologies.map((technology) => (
                        <IconPill>
                          <img src={technology.source} alt={technology.name + "logo"} class="size-10" />
                          <p class="pl-2">{technology.name}</p>
                        </IconPill>
                      ))}
                    </div>
                    
                </div>
            </section>
          </li>
        ))}
      </ul>
</ArticleContainer>
  

