---
import { Button } from '@/components/ui/button';
import { projects } from '../data/projects';
---

    <div class="flex flex-col gap-12 sm:gap-14">
        {projects.map((project) => (
            <section class="flex flex-col">
                <!-- Project Header -->
                <header class="flex flex-col sm:flex-row gap-3 sm:gap-5 items-start sm:items-center mb-5 sm:mb-7">
                    <h3 class="text-xl sm:text-2xl lg:text-3xl font-bold">{project.title}</h3>     
                    <div class="flex flex-col sm:flex-row gap-3 sm:gap-4 w-full sm:w-auto">
                        {project.url && (
                            <a href={project.url} target="_blank" rel="noreferrer" class="flex gap-2 items-center">
                                <Button variant="outline" class="flex gap-2 items-center">
                                    <img src="/icons/github.svg" alt="GitHub icon" class="w-4 sm:w-5 hover:scale-110 transition-transform filter dark:invert" loading="lazy" />
                                    <p class="ml-2 text-sm sm:text-base ">Ver en GitHub</p>
                                </Button>
                            </a>
                        )}
                        {project.production_url && (
                            <a href={project.production_url} target="_blank" rel="noreferrer" class="flex gap-2 items-center">
                                <Button variant="outline" class="flex gap-2 items-center">
                                    <img src="/icons/link.svg" alt="External link icon" class="w-4 sm:w-5 dark:invert" loading="lazy" />
                                    <p class="ml-2 text-sm sm:text-base">Ver demo</p>
                                </Button>
                            </a>
                        )}
                    </div>
                </header>

                <!-- Project Content -->
                <main class="flex flex-col lg:flex-row items-start gap-6 lg:gap-8">
                    {project.image && (
                        <div class="w-full lg:w-auto flex justify-center lg:justify-start">
                            <img 
                                src={project.image || "/placeholder.svg"} 
                                alt={project.title} 
                                class="w-full max-w-70 sm:max-w-80 lg:w-50 rounded-lg transform -rotate-1 hover:rotate-0 transition-transform duration-300 ease-in-out" 
                                loading="lazy" 
                            />
                        </div>
                    )}
                    
                    <div class="flex-1">
                        <p class="text-base sm:text-lg leading-relaxed mb-5 sm:mb-7">{project.description}</p>
                        
                        <!-- Technologies -->
                        <div class="flex flex-row flex-wrap gap-2 sm:gap-3">
                            {project.technologies.map((technology) => (
                                <span class="flex items-center gap-2 rounded-full border border-border px-3 py-1 text-xs sm:text-sm bg-background/60">
                                    <img src={technology.source} alt={`${technology.name} icon`} class="size-4" loading="lazy" />
                                    <span>{technology.name}</span>
                                </span>
                            ))}
                        </div>
                    </div>
                </main>
            </section>
        ))}
    </div>